html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.question {
  background-color: #ddd;
}

.question__header {
  display: flex;
  box-shadow: 0 2px 5px 1px #888;
}

.question__footer {
  box-shadow: 0 2px 5px 1px #888;
}

.question__timer {
  background-color: #111;
  color: #eee;
  padding: 2%;
  min-width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__prompt {
  background-color: #444;
  color: #bbb;
  text-align: center;
  padding: 2%;
  flex-grow: 1;
}

.question__points {
  background-color: #111;
  color: #eee;
  text-align: center;
  padding: 2%;
}

.question__answer {
  background-color: #aaa;
  color: #222;
  margin: 1%;
  padding: 2% 3%;
  list-style-position: inside;
}
